<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock title %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"  crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
    {% load static %}
</head>
<body>
{% include 'partials/nav/header.html' %}

{% block content %}

{% endblock %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>